---
import DemoPreviewCard from "@components/demo-preview-card.astro"
import { EmbedCode } from "@components/embed-code"
import PostPreviewCard from "@components/post-preview-card.astro"
import { EMBED_HEIGHT_OFFSET } from "@constants/sizes"
import DemoLayout from "@layouts/demo-layout.astro"
import { getPedalsFromPresets } from "@utils/get-pedals-from-presets"
import { getStaticPedalData } from "@utils/get-static-pedal-data"
import type { GetStaticPaths, InferGetStaticPropsType } from "astro"
import { getEntry, getCollection, type CollectionEntry } from "astro:content"

export const getStaticPaths = (async () => {
  const allDemos: CollectionEntry<"demos">[] = await getCollection("demos")
  return allDemos.map(demo => ({
    params: { slug: demo.slug },
    props: { ...demo.data, content: demo },
  }))
}) satisfies GetStaticPaths

export type Props = InferGetStaticPropsType<typeof getStaticPaths>

const {
  model,
  builder,
  content,
  date,
  type,
  externalLinks,
  relatedSlugs,
  tags,
} = Astro.props

const possessifyString = (string = "") =>
  `${string}'${string.toLowerCase().endsWith("s") ? "" : "s"}`

const { slug } = Astro.params
const { Content } = await content.render()
const title = `${model} - ${builder}`

const allDemos: CollectionEntry<"demos">[] = await getCollection("demos")
const allPosts: CollectionEntry<"posts">[] = await getCollection("posts")

const {
  data: { presets },
}: CollectionEntry<"presets"> = await getEntry(
  "presets",
  `${slug as CollectionEntry<"demos">["slug"]}.presets`
)

const pedalsInDemo = [...new Set([...getPedalsFromPresets(presets), slug])]

const staticPedalData = await getStaticPedalData(pedalsInDemo)

const maxHeight = Math.max(...staticPedalData.map(({ height }) => height))

const embedHeight = EMBED_HEIGHT_OFFSET + maxHeight

const relatedDemos = allDemos
  .filter(demo => demo.slug !== slug)
  .filter(
    demo =>
      demo.data.builder === builder ||
      demo.data.tags?.some((tag: string) => tags?.includes(tag)) ||
      relatedSlugs?.includes(demo.slug) ||
      demo.data.relatedSlugs?.includes(slug) ||
      pedalsInDemo.includes(demo.slug)
  )

const relatedPosts = allPosts.filter(
  post =>
    post.data.tags?.some((tag: string) => tags?.includes(tag)) ||
    post.data.relatedSlugs?.includes(slug)
)

const isDev = import.meta.env.DEV
const vercelPreviewBranchUrl = "https://" + import.meta.env.VERCEL_BRANCH_URL
const isVercelPreview = import.meta.env.VERCEL_ENV === "preview"

const siteUrl = isDev
  ? Astro.url.origin
  : isVercelPreview
    ? vercelPreviewBranchUrl
    : import.meta.env.SITE
---

<DemoLayout {slug} {title} {date} {type} noIndex={type === "none"}>
  <Content />
  {
    externalLinks && (
      <>
        <h3>Links</h3>
        <ul>
          {externalLinks.sweetwater && (
            <li>
              <span>
                If you are in the US, grab one from{" "}
                <a
                  href={externalLinks.sweetwater}
                  target="_blank"
                  rel="noopener"
                >
                  Sweetwater*
                </a>
              </span>
            </li>
          )}
          {externalLinks.thomann && (
            <li>
              <span>
                Folks from the EU, try one from{" "}
                <a
                  href={`https://www.thomann.de/intl/${externalLinks.thomann}.htm?offid=1&affid=3396`}
                  target="_blank"
                  rel="noopener"
                >
                  Thomann*
                </a>{" "}
                with their hassle-free 30-day Money-Back Guarantee
              </span>
            </li>
          )}
          {/* {externalLinks.perfectCircuit && (
            <li>
              <span>
                Try a new one from{" "}
                <a
                  href={`https://link.perfectcircuit.com/t/v1/8-12626-329078-9759?url=https%3A%2F%2Fwww.perfectcircuit.com%2F${externalLinks.perfectCircuit}.html`}
                  target="_blank"
                  rel="noopener"
                >
                  Perfect Circuit*
                </a>
              </span>
            </li>
          )} */}
          {externalLinks.builderLink && (
            <li>
              <span>
                Get detailed specs on{" "}
                <a
                  href={externalLinks.builderLink}
                  target="_blank"
                  rel="noopener"
                >
                  {`${possessifyString(builder)} website`}
                </a>
              </span>
            </li>
          )}
          {externalLinks.soundShoppe && (
            <li>
              <span>
                If you are in the US, grab one from{" "}
                <a
                  href={`https://soundshoppe.nyc/products/${externalLinks.soundShoppe}`}
                  target="_blank"
                  rel="noopener"
                >
                  Sound Shoppe NYC
                </a>
              </span>
            </li>
          )}
        </ul>
        {// externalLinks.perfectCircuit ||
        (externalLinks.sweetwater || externalLinks.thomann) && (
          <p>
            <i>
              *Affiliate link: Buy something and support Loopy Demos at no extra
              cost to you!
            </i>
          </p>
        )}
      </>
    )
  }
  {
    relatedDemos.length > 0 && (
      <>
        <h3>Similar Pedals</h3>
        <div class="grid auto-rows-[200px] grid-cols-3-min-repeat gap-2">
          {relatedDemos
            .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
            .sort(demo => (demo.data.builder === builder ? -1 : 1))
            .sort(demo => (relatedSlugs?.includes(demo.slug) ? -1 : 1))
            .sort(demo => (pedalsInDemo.includes(demo.slug) ? -1 : 1))
            .filter(demo => demo.data.type === "demo")
            .slice(0, 8)
            .map(demo => (
              <DemoPreviewCard
                slug={demo.slug}
                model={demo.data.model}
                builder={demo.data.builder}
              />
            ))}
        </div>
      </>
    )
  }
  {
    relatedPosts.length > 0 && (
      <>
        <h3>Related Posts</h3>
        <div>
          {relatedPosts
            .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
            .filter(post => ["post", "freeform"].includes(post.data.type))
            .slice(0, 3)
            .map(({ slug, data }) => (
              <PostPreviewCard
                {slug}
                title={data.title}
                date={data.date}
                excerpt={data.excerpt}
                tags={data.tags}
              />
            ))}
        </div>
      </>
    )
  }
  <section class="mt-8">
    <EmbedCode
      client:visible
      static
      {slug}
      {title}
      {siteUrl}
      height={embedHeight}
    />
    <div class="relative mt-4 rounded-md bg-loopydemos-secondary px-2 py-1">
      <div
        class="absolute -top-3 right-4 border-b-[0.75rem] border-l-[0.75rem] border-r-[0.75rem] border-transparent border-b-loopydemos-secondary"
      >
      </div>
      <p class="text-base italic">
        To embed this demo on your website, copy & paste the code above or{" "}
        <a href={`/demos/${slug}/config`}>customize your demo widget</a>
      </p>
    </div>
  </section>
</DemoLayout>

<script>
  // TEMP: Redirect to new URL

  // get query params
  const urlParams = new URLSearchParams(window.location.search)
  const isEmbed = urlParams.get("embed") === "1"

  if (isEmbed) {
    // get current URL without query params
    const currentURL = window.location.href.split("?")[0]
    // redirect to new URL
    window.location.href = currentURL + "/embed"
  }
</script>
