---
import { getEntry, type CollectionEntry } from "astro:content"

import AudioPlayer from "./audio-player"
import Pedal from "./pedal"
import PresetsSlider from "./presets-slider.astro"

import { DemoStateInitializer } from "./demo-state-initializer"
import ComparisonSlider from "./comparison-slider.astro"
import { getPedalsFromPresets } from "@utils/get-pedals-from-presets"
import { ScaleFactor } from "./scale-factor"
import {
  LANDSCAPE_DEFAULT_ENCLOSURE,
  POTRAIT_DEFAULT_ENCLOSURE,
} from "@constants/sizes"

interface Props {
  presetSlug: string
}

const { presetSlug } = Astro.props

const {
  data: { presets, hasBackingTrack, volume, mainPedal },
}: CollectionEntry<"presets"> = await getEntry(
  "presets",
  `${presetSlug as CollectionEntry<"demos">["slug"]}.presets`
)

let pedals = [...new Set(getPedalsFromPresets(presets))]

if (pedals.includes(presetSlug)) {
  pedals.sort(pedal => (pedal === presetSlug ? -1 : 1))
}

if (pedals.length === 0) pedals = [mainPedal || presetSlug]

const isComparison = presets.some(({ comparison }) => Boolean(comparison))

let heights: number[] = []

for (const pedalSlug of pedals) {
  const pedalData: CollectionEntry<"pedals"> = await getEntry(
    "pedals",
    `${pedalSlug as CollectionEntry<"demos">["slug"]}.pedal`
  )
  const { height, enclosure } = pedalData.data
  const enclosureHeight =
    height ||
    (enclosure === "landscape"
      ? LANDSCAPE_DEFAULT_ENCLOSURE.height
      : POTRAIT_DEFAULT_ENCLOSURE.height)

  heights.push(enclosureHeight)
}

const maxHeight = Math.max(...heights)
---

<DemoStateInitializer client:load {presets} {pedals} />
<div class="flex flex-col gap-4">
  <AudioPlayer slug={presetSlug} {hasBackingTrack} {volume} />
  <PresetsSlider {presets} />
  {isComparison && <ComparisonSlider {pedals} />}
</div>
<ScaleFactor client:only="solid-js">
  <div class="height-limit mb-24 mt-8 flex items-start justify-center">
    {pedals.map(slug => <Pedal slug={slug} />)}
  </div>
</ScaleFactor>

<style
  define:vars={{
    maxHeight: `${maxHeight}px`,
  }}
>
  .height-limit {
    height: calc(var(--maxHeight) * 0.75);
    @media (min-width: theme(screens.sm)) {
      & {
        height: var(--maxHeight);
      }
    }
  }
</style>
