---
import { getEntry, type CollectionEntry } from "astro:content"

import AudioPlayer from "./audio-player.astro"
import Pedal from "./pedal.astro"
import PresetsSlider from "./presets-slider.astro"

import { DemoStateProvider } from "./demo-state-provider"

interface Props {
  slug: CollectionEntry<"demos">["slug"]
  model: CollectionEntry<"demos">["data"]["model"]
  builder: CollectionEntry<"demos">["data"]["builder"]
}

const { slug, model, builder } = Astro.props

const {
  data: { presets },
}: CollectionEntry<"presets"> = await getEntry("presets", `${slug}.presets`)
---

<DemoStateProvider {slug} {presets}>
  <div class="flex flex-col gap-4">
    <AudioPlayer />
    <PresetsSlider {presets} />
  </div>
  <!-- Pedals/Pedal -->
  <div class="mb-24 mt-8 flex items-center justify-center">
    <Pedal {slug} {model} {builder} />
  </div>
</DemoStateProvider>
