---
import { getEntry, type CollectionEntry } from "astro:content"

import AudioPlayer from "./audio-player.astro"
import Pedal from "./pedal"
import PresetsSlider from "./presets-slider.astro"

import { DemoStateInitializer } from "./demo-state-initializer"
import ComparisonSlider from "./comparison-slider.astro"
import { getPedalsFromPresets } from "@utils/get-pedals-from-presets"

interface Props {
  presetSlug: string
}

const { presetSlug } = Astro.props

const {
  data: { presets },
}: CollectionEntry<"presets"> = await getEntry(
  "presets",
  `${presetSlug as CollectionEntry<"demos">["slug"]}.presets`
)

// Get all pedals from presets
const pedalsFromPresets = getPedalsFromPresets(presets)

const isComparison = presets.some(({ comparison }) => Boolean(comparison))

// The preset slug is also the pedal slug of the demo. Add it to the top of the list
if (!isComparison) {
  pedalsFromPresets.unshift(presetSlug)
}

const pedals = [...new Set(pedalsFromPresets)]
---

<DemoStateInitializer client:load {presets} {pedals} />
<div class="flex flex-col gap-4">
  <AudioPlayer />
  <PresetsSlider {presets} />
  {isComparison && <ComparisonSlider {pedals} />}
</div>
<div class="mb-12 mt-8 flex min-h-[25rem] items-start justify-center">
  {pedals.map((slug) => <Pedal slug={slug} />)}
</div>
