---
import type { Knob } from "@types"

type Props = Pick<Knob, "size" | "colors">

const {
  size,
  colors = {
    primary: "#000",
    secondary: "#8a8a8a",
    edge: "#2c2c2c",
    tick: "#FFF",
  },
} = Astro.props

const pixelSize = `${size}px`
---

<div class="gradient-background">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width={size}
    height={size}
    viewBox="0 0 64 64"
  >
    <g fill="none">
      <circle cx="32" cy="32" r="30" stroke={colors.edge} stroke-width="4"
      ></circle>
      <rect width="3" height="28" x="31" y="4" fill={colors.tick}></rect>
    </g>
  </svg>
</div>

<style
  define:vars={{
    size: pixelSize,
    primaryColor: colors.primary,
    secondaryColor: colors.secondary,
  }}
>
  .gradient-background {
    z-index: 0;
    position: relative;
    width: var(--size);
    height: var(--size);

    &:before {
      position: absolute;
      content: " ";
      width: calc(var(--size) - 2px);
      height: calc(var(--size) - 2px);
      top: calc(var(--size) * 1px);
      left: calc(var(--size) * 1px);
      background: conic-gradient(
        from 120deg,
        var(--secondaryColor),
        var(--primaryColor),
        var(--primaryColor),
        var(--secondaryColor),
        var(--primaryColor),
        var(--primaryColor),
        var(--secondaryColor)
      );
      border-radius: 50%;
      z-index: -1;
    }
  }
</style>
