---
import PostPreviewCard from "@components/post-preview-card.astro"
import DefaultLayout from "@layouts/default-layout.astro"
import { getCollection, type CollectionEntry } from "astro:content"

const allPosts: CollectionEntry<"posts">[] = await getCollection("posts")
---

<DefaultLayout title="Posts">
  <section class="mb-12">
    <h2>Posts</h2>
    <p>
      In these blog posts you'll get back-to-back comparisons of similar pedals
      and neat tricks and tips for getting the most out of your gear. Each post
      will have some sort of interactive demo widget because sound says more
      than any of my ramblings.
    </p>
  </section>
  <section>
    {
      allPosts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .filter((post) => ["post", "freeform"].includes(post.data.type))
        .map(({ slug, data }) => (
          <PostPreviewCard
            {slug}
            title={data.title}
            date={data.date}
            excerpt={data.excerpt}
            tags={data.tags}
          />
        ))
    }
  </section>
</DefaultLayout>
