---
import { Image } from "astro:assets"
import { getImageAltFromSlug } from "@utils/get-image-alt-from-slug"
import { getImageSrcFromSlug } from "@utils/get-image-src-from-slug"
import soundShoppeLogo from "./sound-shoppe-logo.png"
import sweetwaterLogo from "./sweetwater-logo.webp"
import thomannLogo from "./thomann-logo.svg"

interface Props {
  slug: string
  sweetwater?: string
  thomann?: string
  perfectCircuit?: string
  soundShoppe?: string
}

const { slug, sweetwater, thomann, soundShoppe } = Astro.props

const ctaLabels = [
  "Treat yo' self",
  "Tone quest ends here",
  "'Cause why not?",
  "Buy now, brag later",
  "Cure your GAS!",
  "Impulse buy here",
  "Indulge a little",
  "Feeling pedalbored?",
  "Snag one here",
  "Shred responsibly",
  "One More won't hurt",
  "Fill that empty spot",
  "More pedals, more fun",
  "Just one more pedal...",
  "Your tone deserves this",
  "Upgrade your noise",
  "Fuel your tone obsession",
]

const shuffledCtaLabels = ctaLabels
  .map(value => ({ value, sort: Math.random() }))
  .sort((a, b) => a.sort - b.sort)
  .map(({ value }) => value)
---

<div
  class="scroll-animation my-4 flex w-fit flex-col items-center gap-4 rounded-lg border-4 border-dashed border-loopydemos-primary bg-loopydemos-secondary p-4 sm:flex-row"
>
  <div class="h-40 w-auto px-4 flex items-center">
    <Image
      width="168"
      class="max-h-full w-full max-w-40"
      src={getImageSrcFromSlug(slug)}
      alt={getImageAltFromSlug(slug)}
      format="avif"
    />
  </div>
  <div class="flex flex-col items-stretch justify-center gap-2">
    {
      sweetwater && (
        <a
          class="link-button link-none"
          href={sweetwater}
          target="_blank"
          rel="noopener"
        >
          <Image
            class="h-auto max-w-24 rounded-lg border-2 border-loopydemos-background bg-white p-2"
            width={112}
            src={sweetwaterLogo}
            alt="sweetwater logo"
            format="avif"
          />
          <span class="whitespace-nowrap text-sm">{shuffledCtaLabels[0]}</span>
        </a>
      )
    }
    {
      thomann && (
        <a
          class="link-button link-none"
          href={`https://www.thomann.de/intl/${thomann}.htm?offid=1&affid=3396`}
          target="_blank"
          rel="noopener"
        >
          <Image
            class="h-auto max-w-24 rounded-lg border-2 border-loopydemos-background bg-white p-2"
            width={112}
            src={thomannLogo}
            alt="thomann logo"
            format="avif"
          />
          <span class="whitespace-nowrap text-sm">{shuffledCtaLabels[1]}</span>
        </a>
      )
    }
    <!-- {
      perfectCircuit && (
        <a
          class="link-button link-none"
          href={`https://link.perfectcircuit.com/t/v1/8-12626-329078-9759?url=https%3A%2F%2Fwww.perfectcircuit.com%2F${perfectCircuit}.html`}
          target="_blank"
          rel="noopener"
        >
          <PerfectCircuitLogo class="max-w-24 rounded-lg border-2 border-loopydemos-background bg-white p-2" />
          <span class="whitespace-nowrap text-sm">{shuffledCtaLabels[2]}</span>
        </a>
      )
    } -->
    {
      soundShoppe && (
        <a
          class="link-button link-none"
          href={`https://soundshoppe.nyc/products/${soundShoppe}`}
          target="_blank"
          rel="noopener"
        >
          <Image
            class="h-auto max-w-12 rounded-lg border-2 border-loopydemos-background"
            width={112}
            src={soundShoppeLogo}
            alt="sound shoppe nyc logo"
            format="avif"
          />
          <span class="whitespace-nowrap text-sm">{shuffledCtaLabels[3]}</span>
        </a>
      )
    }
    {
      (sweetwater || thomann) && (
        // (sweetwater || thomann || perfectCircuit) && (
        <p class="m-0 text-xs italic text-loopydemos-subdued">
          Buy through these links and support Loopy Demos
          <br /> at no extra cost to you.
        </p>
      )
    }
  </div>
</div>

<style>
  .link-button {
    @apply flex items-center gap-2 rounded-lg bg-loopydemos-highlight-tertiary px-4 py-2 font-black text-loopydemos-background transition-colors hover:bg-loopydemos-highlight-tertiary/80;
  }

  .scroll-animation {
    animation-name: wiggle;
    animation-duration: 1ms;
    animation-timeline: view(block 20% 20%);
  }

  @keyframes wiggle {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
