---
import DemoWidget from "@components/demo-widget"
import DefaultLayout from "./default-layout.astro"
import DateTag from "../components/date-tag.astro"
import { Icon } from "astro-icon/components"
import type { PostType } from "@types"
import SEO from "./seo.astro"
import { getImageSrcFromSlug } from "@utils/get-image-src-from-slug"
import { getImage } from "astro:assets"
import { EmbedCode } from "@components/embed-code"

interface Props {
  title: string
  date: Date
  slug: string
  type: PostType
  excerpt?: string
}

const { slug, title, date, type, excerpt } = Astro.props

const metaImage = await getImage({
  src: getImageSrcFromSlug(slug, true),
  format: "jpeg",
})
---

<DefaultLayout {title}>
  <SEO
    slot="head"
    {title}
    metaImage={metaImage.src}
    isBlogPost
    {date}
    description={excerpt}
  />
  <a
    href={type === "demo" ? "/demos" : "/posts"}
    class="link-none flex items-center gap-2 text-lg font-black text-loopydemos-highlight-primary sm:text-xl"
  >
    <Icon name="ph:arrow-left-bold" />
    <span>
      {type === "demo" ? "All demos" : "All posts"}
    </span>
  </a>
  <h2>{title}</h2>
  <div class="mb-3">
    <DateTag {date} />
  </div>
  {type !== "freeform" && <DemoWidget presetSlug={slug} />}
  <section class="mt-24">
    <slot />
  </section>
  {type === "demo" && <EmbedCode client:visible static {slug} {title} />}
  <div class="relative mt-4 rounded-md bg-loopydemos-secondary px-2 py-1">
    <div
      class="absolute -top-3 right-4 border-b-[0.75rem] border-l-[0.75rem] border-r-[0.75rem] border-transparent border-b-loopydemos-secondary"
    >
    </div>
    <p class="text-base italic">
      To embed this demo on your website, copy & paste the code above or{" "}<a
        href={`/demos/${slug}/config`}>customize your demo widget</a
      >
    </p>
  </div>
</DefaultLayout>
