---
import { Image, getImage } from "astro:assets"
import DemoWidget from "@components/demo-widget"
import type { PostType } from "@types"
import {
  type ImageSrc,
  getImageSrcFromSlug,
} from "@utils/get-image-src-from-slug"
import { Icon } from "astro-icon/components"
import DateTag from "../components/date-tag.astro"
import DefaultLayout from "./default-layout.astro"
import SEO from "./seo.astro"

interface Props {
  title: string
  date: Date
  slug: string
  type: PostType
  excerpt?: string
  noIndex?: boolean
  coverImage?: ImageSrc
}

const { slug, title, date, type, excerpt, noIndex, coverImage } = Astro.props

const metaImage = await getImage({
  src: getImageSrcFromSlug(slug, true),
  format: "jpeg",
})
---

<DefaultLayout {title}>
  <SEO
    slot="head"
    {title}
    metaImage={metaImage.src}
    isBlogPost
    {date}
    {noIndex}
    description={excerpt}
  />
  <a
    href={type === "demo" ? "/demos" : "/posts"}
    class="link-none flex items-center gap-2 text-lg font-black text-loopydemos-highlight-primary sm:text-xl"
  >
    <Icon name="ph:arrow-left-bold" />
    <span>
      {type === "demo" ? "All demos" : "All posts"}
    </span>
  </a>
  <h2>{title}</h2>
  {
    coverImage && (
      <Image
        class="my-3 rounded-lg max-w-md w-full"
        width={896}
        src={coverImage}
        alt={title}
        loading="eager"
      />
    )
  }
  <div class="mb-3">
    <DateTag {date} />
  </div>
  {type !== "freeform" && <DemoWidget presetSlug={slug} />}
  <section>
    <slot />
  </section>
</DefaultLayout>
