---
import DemoWidget from "@components/DemoWidget.astro"
import Layout from "./Layout.astro"
import type { CollectionEntry } from "astro:content"

interface Props {
  slug: CollectionEntry<"demos">["slug"]
  model: string
  builder: string
}

const { slug, model, builder } = Astro.props

const title = `${model} - ${builder}`
---

<Layout {title}>
  <h2>{title}</h2>
  <DemoWidget {slug} />
  <slot />
</Layout>
