---
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import "@fontsource-variable/fira-code"
import "@fontsource-variable/mulish"
import "@fontsource/bowlby-one-sc"
import "@fontsource/vt323"
import type {MarkdownLayoutProps} from "astro"

type Props =
  | MarkdownLayoutProps<{title: string}>
  | {title?: string; frontmatter?: never}

const {title} = Astro.props.frontmatter || Astro.props

const pageTitle = title ? `${title} | Loopy Demos` : "Loopy Demos"
---

<!doctype html>
<html
  lang="en"
  class="bg-loopydemos-background bg-noise text-loopydemos-text antialiased bg-blend-hard-light"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <Header />
      <main class="w-full grow">
        <div class="mx-auto my-0 max-w-3xl px-8">
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  main {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply break-words font-display font-normal text-loopydemos-highlight-tertiary;
    }
    h2 {
      @apply my-8 text-3xl;
    }

    h3 {
      @apply mb-6 mt-12 text-xl;
    }

    h4 {
      @apply mb-4 mt-8 text-base;
    }

    strong {
      @apply font-black text-loopydemos-highlight-tertiary;
    }

    p {
      @apply my-4 whitespace-pre-line text-xl;
    }

    a {
      @apply text-loopydemos-highlight-primary;
    }
  }

  footer {
    a {
      @apply text-loopydemos-highlight-primary;
    }
  }
</style>
